<ol class="breadcrumb">
  <li><a href="<%= product_path(@product) %>" class="plan-name-link link"> <%= @product.name %> </a></li>
  <li><a href="<%= product_plan_path(@product, @plan) %>" class="plan-name-link link"> <%= @plan.name %> </a></li>
</ol>
<div class="container">
  <div class="row">
    <div id="chart-container" style="display: inline-block"></div>
    <div class="legend-block">

      <% @main_chart_data.each do |current_status| %>
          <div class="status-box" style="background-color: <%= current_status[:color].downcase %>"></div>
          <span class="status-count"><%= current_status[:y] %></span>
          <span class="status-name"><%= current_status[:name] %></span>
          <span class="status-persent">(<%= (current_status[:y]*100.0/@all_result_count).round 1 %>%)</span>
          <br />
      <% end %>

    </div>
    </div>

  <div class="row">
      <% unless @result_sets.empty? %>
          <table class="table table-hover">
            <tbody>
            <% @result_set_list.each_pair do |set_result_id, value| %>
                <tr class="result-set-element">
                  <td style="padding: 0px;">
                    <div class="result-set-name-block">
                      <a class="link result-set-name-link" href=<%= result_set_results_path(set_result_id) %>> <%= value[:name] %></a>
                    </div>
                  </td>
                  <td style="padding: 0px;">
                    <div class="result-set-status-block">
                      <div class="status-box" style="background-color: <%= value[:status] %>"></div>
                      <span class="status-name"><%= value[:name] %>
                        <a class="edit-link link" href="<%= edit_result_set_path(set_result_id ) %>">&#9998;</a>
                      </span>
                    </div>
                  </td>
                  </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#chart-container').highcharts({
            navigation: {
                buttonOptions: {
                    enabled: false
                }
            },
            chart: {
                backgroundColor: 'rgba(225, 225, 225, 0)',
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: 'Browser<br>shares',
                align: 'center',
                verticalAlign: 'middle',
                y: 50
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    animation: false,
                    dataLabels: {
                        enabled: false,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                }
            },
            series: [{
                type: 'pie',
                name: 'Value',
                innerSize: '50%',
                data: <%= @main_chart_data.to_json.html_safe %>
            }]
        });
    });
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
      $(".change-status-button").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>