<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="container jumbotron runs_table">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header sets_hading">
          <h1 align="center"><%= t('helpers.titles.test_results') %></h1>
        </div>
        <div id="run_status_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <h3><%= t('helpers.titles.results') %></h3>
        <table class="table sets_table table-hover">
          <tbody>
          <% @result_sets.order(name: :desc).find_each do |set_result| %>
              <tr class="run_str">
                <td>
                  <a class="link" href=<%= result_set_results_path(set_result) %>> <%= set_result.name %> </a>
                </td>
                <td class="clickable-row" data-href="<%= result_set_results_path(set_result) %>">
                </td>
                <td class="change-status-button" data-href="<%= edit_result_set_path(set_result) %>" style="background-color: <%= @statuses[set_result.status] %>">Change</td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#run_status_chart').highcharts({
            navigation: {
                buttonOptions: {
                    enabled: false
                }
            },
            chart: {
                backgroundColor: 'rgba(225, 225, 225, 0)',
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: 'Browser<br>shares',
                align: 'center',
                verticalAlign: 'middle',
                y: 50
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    animation: false,
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                }
            },
            series: [{
                type: 'pie',
                name: 'Value',
                innerSize: '50%',
                data: <%= @main_chart_data.to_json.html_safe %>
            }]
        });
    });
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
      $(".change-status-button").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>
<style>
  .change-status-button{
    width: 200px;
    text-align: center;
    cursor: pointer;
  }
  .clickable-row{
    width: auto;
    cursor: pointer;
  }
  a.link {
    color:black;
    background-color: rgba(0, 0, 0, 0);
  }
</style>