<ol class="breadcrumb">
  <div class="name-block-nav" title= <%= @product.name %>><li ><a href="<%= product_path(@product) %>" class="plan-name-link link"> <%= @product.name %></a></li></div>
  <div class="name-block-nav nav-separater"><li>&#9658;</li></div>
  <div class="name-block-nav" title=<%= @plan.name %>><li><a href="<%= product_plan_path(@product, @plan) %>" class="plan-name-link link"> <%= @plan.name %></a></li></div>
</ol>

<div class="container">
  <div class="row">
    <%= render partial: 'layouts/run_chart' %>
  </div>
  <div class="row result-set-list">
    <div id="sticky" class="sticky-element">
      <div class="sticky-anchor"></div>
      <div class="sticky-content container">
        <INPUT class='checkbox-all' type="checkbox" onchange="checkAll(this)" name="chk[]"/>
        <button class='multi-result-change disabled' type="button" onclick="SetResultMultiply()">Set
          results
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-result-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-result-close">&times;</span></button>
        <h4 class="modal-title modal-result-title"><b>Modal title</b></h4>
      </div>
      <%= render partial: 'layouts/status_change' %>
    </div>
  </div>
</div>

<script>
    var StickyElement = function (node) {
        var doc = $(document),
            fixed = false,
            anchor = node.find('.sticky-anchor'),
            content = node.find('.sticky-content');

        var onScroll = function (e) {
            var docTop = doc.scrollTop(),
                anchorTop = anchor.offset().top;
            if (docTop > anchorTop) {
                if (!fixed) {
                    anchor.height(content.outerHeight());
                    content.addClass('fixed');
                    fixed = true;
                }
            } else {
                if (fixed) {
                    anchor.height(0);
                    content.removeClass('fixed');
                    fixed = false;
                }
            }
        };

        $(window).on('scroll', onScroll);
    };
    var demo = new StickyElement($('#sticky'));
    var main_data = <%=  @main_data.html_safe  %>;
    var result_sets = <%= @result_sets.html_safe %>;
    $(function () {
        if ($( ".line-block" ).length){return}

        CreateChart();
        Object.entries(main_data).forEach(function (item) {
            var id = item[0];
            var name = result_sets[id];
            var status = item[1];
            var status_id = item[1]['id']
            addEmptyResultSetLineBlock(name, id, status_id);
            addResultSetCheckBox(id);
            addResultSetName(name, id);
            addResultSetStatus(status, id);
            addResultSetEditLink(id);
        })
    });
    function addEmptyResultSetLineBlock(title, id, status_id) {
        $(".result-set-list").append("<div class='line-block' title='" + title + "' value='" + id + "' data='" + status_id + "'></div>")
    }
    function addResultSetCheckBox(id) {
        $("div[class=line-block][value*=" + id + "]").append("<input class='checkbox-element' type='checkbox' onclick='blockOrunblock()'>")
    }

    function addResultSetName(name, id) {
        $("div[class=line-block][value*=" + id + "]").append("<div class='name-block'><a class='link plan-name-link' href='/result_sets/" + id + "/results'>" + name + "</a></div>")
    }

    function addResultSetStatus(status, id) {
        $("div[class=line-block][value*=" + id + "]").append("<div class='inline-block'><div id='legend-element'><div class='status-box' style='background-color:" + status['color'] + "'></div><span class='status-name'>" + status['name'] + "</span></div></div>")
    }

    function addResultSetEditLink(id) {
        $("div[class=line-block][value*=" + id + "]").append("<a class='link edit-link' onclick='SetResultMultiply(" + id + ")'><span class='edit-link-pict'>&#9998;</span></a>")
    }
    function filterResultSetList(obj, status) {

        if (obj.getAttribute("value") == 1) {
            console.log('1');
            $(".legend-data").attr('value', 0);
            $('#clearfix-selector').remove();
            ShowAll()
        } else {
            console.log('2');

            $('#clearfix-selector').remove();
            $(".legend-data").attr('value', 0);
            $(obj).attr('value', 1);
            $(obj).append("<span id ='clearfix-selector'>&#9668;</span>");
            $("div[class=line-block][data!=" + status + "]").hide()
            $("div[class=line-block][data=" + status + "]").show()
        }
    }
    function HideAll() {
        $("div[class=line-block]").hide();
        uncheckall();
    }
    function ShowAll() {
        $("div[class=line-block]").show();
        uncheckall();
    }
    function ShowElement(value) {
        $("div[class=line-block][value*=" + value + "]").show();
    }
    function checkAll(ele) {
        var checkboxes = $("input:visible");
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            uncheckall()
        }
        blockOrunblock()
    }
    function uncheckall() {
        var checkboxes = $("input");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox') {
                checkboxes[i].checked = false;
            }
        }
        $(".multi-result-change").addClass('disabled');
    }
    function SetResultMultiply(serult_set) {
        console.log(serult_set);

        if ($("input:checkbox:checked").length > 0 || serult_set != undefined){
        var result_ids = [];
        if (serult_set === undefined) {
            $('#modal').modal('show');
            $("input.checkbox-element:checked").parent().each(function () {
                result_ids.push(this.getAttribute("value"))
            });
            $("#result_set_list_status").attr('value', result_ids);
            $('#result-count').text(result_ids.length);
        } else {
            result_ids = [serult_set.toString()];
            $('#modal').modal('show');
            $('#result-count').text(result_ids.length);
        }
        $("#result_set_list").attr('value', result_ids);
    }}

    function blockOrunblock(){
        if ($("input:checkbox:checked").length === 0){
            $(".multi-result-change").addClass('disabled');
        } else {
            $(".multi-result-change").removeClass('disabled');
        }
    }
</script>