<ol class="breadcrumb">
  <li><a href="<%= product_path(@product) %>" class="plan-name-link link"> <%= @product.name %> </a></li>
  <li><a href="<%= product_plan_path(@product, @plan) %>" class="plan-name-link link"> <%= @plan.name %> </a></li>
</ol>

<div class="container">
  <div class="row">
    <%= render partial: 'layouts/run_chart' %>
  </div>
  <div class="row runs-list">
  </div>
</div>
<script>
    var main_data = <%=  @main_data.html_safe  %>;
    var result_sets = <%= @result_sets.html_safe %>;
    $(function () {
        if (!$( "#legend-element" ).length){CreateChart();}
        Object.entries(main_data).forEach(function (item) {
            $(".runs-list").append("<div class='line-block' value=" + item[0] + ">" +
                "<div class='name-block'><a class='link plan-name-link' href='/result_sets/" + item[0] + "/results'>" + result_sets[item[0]] + "</a></div>" +
                "<div class='inline-block'>" +
                "<div id='legend-element'>" +
                "<div class='status-box' style='background-color: " + item[1]['color'] + "'></div>" +
                "<span class='status-name'>" + item[1]['name'] + "</span></div>" + "</div>" +
                "<a class='link edit-link' href=/result_sets/" + item[0] + "/edit><span class='edit-link-pict'>&#9998;</span></a></div>");
        })
    });
    function Filterit(obj,status) {
        $('#clearfix-selector').remove();
        $(obj).append("<span id ='clearfix-selector'>&#9668;</span>");
        HideAll();

        Object.entries(main_data).forEach(function (item) {
            console.log(item[1]['id']);
            if (status == item[1]['id']){
                ShowElement(item[0]);
            }
        });
    }
    function HideAll(){
        $("div[class=line-block]").hide();
    }
    function ShowAll() {
        $('#clearfix-selector').remove();
        $("div[class=line-block]").show();
    }
    function ShowElement(value){
        $("div[class=line-block][value*=" + value + "]").show();
    }
</script>