

<div class="container">
  <div class="row">
    <div id="chart-container" style="display: inline-block"></div>
    <div class="legend-block" style="background-color: #0f4071">

asdsadsdsd

    </div>
    </div>

  <div class="row">
      <% unless @result_sets.empty? %>
          <table class="table table-hover">
            <tbody>
            <% @result_sets.order(created_at: :desc).find_each do |set_result| %>
                <tr>
                  <td>
                    <a class="link result-set-name-link" href=<%= result_set_results_path(set_result) %>> <%= set_result.name %></a>
                  </td>
                  <td class="change-status-button" data-href="<%= edit_result_set_path(set_result) %>" style="background-color: <%= @statuses[set_result.status] %>">Change</td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>

  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#chart-container').highcharts({
            navigation: {
                buttonOptions: {
                    enabled: false
                }
            },
            chart: {
                backgroundColor: 'rgba(225, 225, 225, 0)',
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: 'Browser<br>shares',
                align: 'center',
                verticalAlign: 'middle',
                y: 50
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    animation: false,
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                }
            },
            series: [{
                type: 'pie',
                name: 'Value',
                innerSize: '50%',
                data: <%= @main_chart_data.to_json.html_safe %>
            }]
        });
    });
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
      $(".change-status-button").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>