<ol class="breadcrumb">
  <div class="name-block-nav" title=<%= @product.name %>>
    <li><a href="<%= product_path(@product) %>" class="plan-name-link link"> <%= @product.name %></a></li>
  </div>
  <div class="name-block-nav nav-separater">
    <li>&#9658;</li>
  </div>
  <div class="name-block-nav" title=<%= @plan.name %>>
    <li><a href="<%= product_plan_path(@product, @plan) %>" class="plan-name-link link"> <%= @plan.name %></a></li>
  </div>
  <div class="name-block-nav nav-separater">
    <li>&#9658;</li>
  </div>
  <div class="name-block-nav" title=<%= @result_set.name %>>
    <li><a href="<%= run_result_sets_path(@run) %>" class="plan-name-link link"> <%= @result_set.name %></a></li>
  </div>
</ol>
<div class="container">
  <!--<div class="history-block"><a class="history-link link" href="<%= result_set_path(@result_set) %>/results">Current</a></div>-->
  <div class="row">
    <div class="month-block month-side">
      <div class="all-month-data-count">All count</div>
      <div class="month-name">Январь</div>
    </div>
    <div class="month-block month-center">
      <div class="all-month-data-count">All count</div>
      <div class="month-name">Февраль</div>
    </div>
    <div class="month-block month-side">
      <div class="all-month-data-count">All count</div>
      <div class="month-name">Март</div>
    </div>
    <div class="bar"></div>
  </div>
</div>