<ol class="breadcrumb">
  <div class="name-block-nav" title=<%= @product.name %>>
    <li><a href="<%= product_path(@product) %>" class="plan-name-link link"> <%= @product.name %></a></li>
  </div>
  <div class="name-block-nav nav-separater">
    <li>&#9658;</li>
  </div>
  <div class="name-block-nav" title=<%= @plan.name %>>
    <li><a href="<%= product_plan_path(@product, @plan) %>" class="plan-name-link link"> <%= @plan.name %></a></li>
  </div>
  <div class="name-block-nav nav-separater">
    <li>&#9658;</li>
  </div>
  <div class="name-block-nav" title=<%= @result_set.name %>>
    <li><a href="<%= run_result_sets_path(@run) %>" class="plan-name-link link"> <%= @run.name %></a></li>
  </div>
  <div class="name-block-nav" title="Back to current" style="float:right;">
    <li><a href="<%= result_set_path(@result_set) %>/results" class="link-advanced link">Back to current</a></li>
  </div>
</ol>
<div class="container">
  <div class="row">
    <div id="bar"></div>
  </div>
  <div class="row">

    <table class="result-set-list">

    </table>

  </div>
</div>
<style>
  td{
    line-height: 18px;
    padding-left: 8px;
    height: 32px;
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
    tr{
      border-bottom: solid 1px #CECDED;
    }
  tbody tr:hover {
    background: #ffffe5;
  }
</style>
<script>
    $('#bar').empty();
    $('table').empty();
    var statuses = <%= @statuses.to_json.html_safe %>;
    $(document).ready(function () {
        data = <%= @result_sets_data[0].to_json.html_safe %>;
        product_id = <%= @product.id %>;
        data_plans = <%= @result_sets_data[1].to_json.html_safe %>;
        data_runs = <%= @result_sets_data[2].to_json.html_safe %>;
        statuses = <%= @statuses.to_json.html_safe %>;
        addTempStatusbox(data);
        addResults(data);
    });
    function addTempStatusbox(data) {
        Object.entries(data).forEach(function (current_data) {
            $('#bar').append("<a class='link-advanced link' href='/result_sets/" + current_data[1]['id'] + "/results'><div class='temp-status' style='background-color:" + statuses[current_data[1]['status_id']]['color'] + "' value=" + current_data[1]['id'] + "></div></a>");
        });
    }
    function addResults(data) {
        Object.entries(data).forEach(function (current_data) {
            addEmptyResultSetLineBlock(current_data[1]['id']);
            addResultSetStatus(current_data[1]['status_id'], current_data[1]['id']);
            addResultSetResultsLink(current_data[1]['id']);
            addResultSetRunLink(current_data[1]['id'], current_data[1]['run_id']);
            addResultSetPlanLink(current_data[1]['id'], current_data[1]['plan_id']);
            addResultDate(current_data[1]['id'], current_data[1]['updated_at'])
        });
    }
    function addEmptyResultSetLineBlock(id) {
        $("table.result-set-list").append("<tr value='" + id + "'></tr>")
    }
    function addResultSetStatus(status, id) {
        $("tr[value=" + id + "]").append("<td data= " + id + "><div id='legend-element'><div class='status-box' style='background-color:" + statuses[status]['color'] + "'></div></td><td><span class='status-name'>" + statuses[status]['name'] + "</span></div></td>")
    }
    function addResultSetResultsLink(id) {
        $("tr[value=" + id + "]").append("<td value=" + id + "><a class='link-advanced' href='/result_sets/" + id + "/results'>all results</a></td>")
    }
    function addResultSetRunLink(id, run_id) {
        $("tr[value=" + id + "]").append("<td><a class='link-advanced link' href='/runs/" + run_id + "/result_sets'>" + data_runs[run_id] + '' + "</a></td>")
    }
    function addResultSetPlanLink(id, plan_id) {
        $("tr[value=" + id + "]").append("<td><a class='link-advanced link' href='/products/" + product_id + "/plans/" + plan_id + "'>" + data_plans[plan_id] + '' + "</a></td>")
    }
    function addResultDate(id, date) {
        $("tr[value=" + id + "]").append("<td><div class='all-block' value=" + id + ">" + date + '' + "</div></td>")
    }
</script>