<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3><%= t('helpers.titles.results') %></h3>
      <table class="table table-hover result_table">
        <thead>
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Author</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <% @results.order(created_at: :desc).each do |result| %>
            <tr class="clickable-row" style="padding: 0px;">
              <td class="status-column">
                <div class="block">
                  <div class="status-box" style="background-color: <%= Status.find(result.status_id).color %>"></div>
                  <span class="status-name"><%= Status.find(result.status_id).name %></span>
                </div>
              </td>
              <td class="data-column">
                <div class="date block"><%= result.created_at %></div>
              </td>
              <td class="author-column">
                <div class="author block"><%= result.author %></div>
              </td>
              <td class="message-column">
                <div class="message block">
                  <%= result.message %></div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>





