<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3><%= t('helpers.titles.results') %></h3>
      <table class="table table-hover result_table">
        <thead>
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Author</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <% @results.order(created_at: :desc).each do |result| %>
            <tr class="clickable-row" style="padding: 0px;">
              <td class="status-column">
                <div class="block">
                  <div class="status-box" style="background-color: <%= Status.find(result.status_id).color %>"></div>
                  <span class="status-name"><%= Status.find(result.status_id).name %></span>
                </div>
              </td>
              <td class="data-column">
                <div class="date block"><%= result.created_at %></div>
              </td>
              <td class="author-column">
                <div class="author block"><%= result.author %></div>
              </td>
              <td class="message-column">
                <div class="message block">
                  <a onclick="Open_modal(this.text);" class="message-link link">
                    <%= result.message %>
                  </a>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Resuls message</h4>
      </div>
      <div class="modal-body">
        <div id="modal-data"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  function Open_modal(text) {
    $('#modal-data').text(text);
    $('#myModal').modal();
  }
</script>


