<div class="container">
  <div class="row">
    <div class="page-header">
      <h1 align="center"><%= t('helpers.titles.custom_fields_settings_title') %></h1>
    </div>
    <div class="col-md-3">
      <div class="row">
        <label></label>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            <a class="navigation-link" href="/settings/admin"><%= t('helpers.titles.admin_settings_title') %></a></li>
          <li role="presentation">
            <a class="navigation-link" href="/settings/status_settings_title"><%= t('helpers.titles.status_settings_title') %></a>
          </li>
          <li role="presentation">
            <a class="navigation-link" href="/settings/tokens"><%= t('helpers.titles.token_settings_title') %></a></li>
          <li><a href="/settings/products" class="navigation-link">Change product image</a></li>
          <li role="presentation" class="active">
            <a href="/settings/custom_fields" class="navigation-link">Custom result fields</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <button class="new-field-button" data-toggle="modal" data-target="#modal">Add new field</button>
        <div class="result-main">
        </div>
    </div>
    </div>
  </div>
</div>
<div id="modal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-result-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="modal-result-close">&times;</span></button>
        <h4 class="modal-title modal-result-title"><b>New custom field</b></h4>
      </div>
      <%= render partial: 'layouts/create_custom_field' %>
    </div>
  </div>
</div>
<style>
  a.navigation-link:visited {
    color: #333333;
  }
</style>

<script>
    $(function () {
        fields = <%= CustomField.get_like_json.to_json.html_safe %>;
        img = '<%= asset_path "logo.png" %>';
        $(".result-main").append("<table class='result-table'><tr><td valign='top' class='small-data'><p><div class='status-box' style='background-color: #96006e'></div><span class='status-name'>Status_name</span></p><div class='data-box'><div class='data-symbol-box'><p><span class='data-symbol'>&#8986;<span>2016/02/02</span></span></p></div></div><div class='small-text-data'></div></td><td class='big-data'><div class='text-data'></div></td></tr></table>");

        Object.entries(fields).forEach(function (item) {
            console.log(item[1]['type']);
            if (item[1]['size']) {
                if (item[1]['type'] == 'text') {
                    TextExample(item);
                }
                if (item[1]['type'] == 'image') {
                    ImageExample(item);
                }
                if (item[1]['type'] == 'link') {
                    LinkExample(item);
                }
                if (item[1]['type'] == 'username') {
                    UsernameExample(item);
                }
            } else {
                if (item[1]['type'] == 'text') {
                    TextExampleS(item);
                }
                if (item[1]['type'] == 'image') {
                    ImageExampleS(item);
                }
                if (item[1]['type'] == 'link') {
                    LinkExampleS(item);
                }
                if (item[1]['type'] == 'username') {
                    UsernameExampleS(item);
                }
            }
        });
    });

    function TextExample(item) {
        $('.text-data').append("<div class='message'><p class='result-name-big'><b>" + item[1]['name'] + "</b></p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div><hr>");
    }

    function ImageExample(item) {
        $('.text-data').append("<div class='message'><p class='result-name-big'><b>" + item[1]['name'] + "</b></p><img class='data-image' src=" + img + "><div class='message'><hr>");

    }
    function LinkExample(item) {
        $('.text-data').append("<div class='message'><p class='result-name-big'><b>" + item[1]['name'] + "</b></p><p><a class='data-link link' href='https://www.google.ru/'>https://www.google.ru/</a></p></div><hr>");
    }
    function UsernameExample(item) {
        $('.text-data').append("<div class='message'><p class='result-name-big'><b>" + item[1]['name'] + "</b></p><p><span class='inner-username'>&#10026;Username</span></p></div><hr>");
    }

    function TextExampleS(item) {
        $(".small-text-data").append("<div class='message-small'><p><span class='result-name'>" + item[1]['name'] + "</span><br>Lorem ipsum </p>");
    }
    function ImageExampleS(item) {
        $(".small-text-data").append("<div class='message-small'><p class='result-name'><span class='result-name'>" + item[1]['name'] + "</span><br><img class='data-image-small' src=" + img + "/></p></div>");
    }

    function LinkExampleS(item) {
        $(".small-text-data").append("<div class='message-small'><p class='result-name'>" + item[1]['name'] + "</p><a class='data-link-small link' href='https://www.google.ru/'>https://www.google.ru/</a></p></div>");
    }
    function UsernameExampleS(item) {
        $(".small-text-data").append("<div class='message-small'><p class='result-name'>" + item[1]['name'] + "</p><p class='result-name'><p>&#10026; Username</p></div>");
    }
</script>