<div class="auth-block">
  <div class="login-block">
    <div class="palladium-name-block">
      <h1>
        <span><%= image_tag("logo.png", :alt => "rss feed", class: 'palladium-logo-auth') %>Palladium</span>
      </h1>
    </div>
    <%= stylesheet_link_tag 'login_page', media: 'all', 'data-turbolinks-track' => true %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row block_field">
          <%= f.email_field :email, autofocus: true, class: 'field field_size', :placeholder => 'Your registration email' %>
          <%= f.password_field :password, class: 'field field_size', :placeholder => 'Password' %>
          <div class="auth-buttons">
            <%= f.submit 'Sign In', class: 'login_button' %>
            <div class="sign-up-link-block">
              <a class="sign-up link" href=<%= new_user_registration_url %>> Sign up </a><br />
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>