<%- model_class = Product -%>
<div class="container">
  <div class="products_jumbotron">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 centered">
        <div class="item_title">
          <%= t '.title', :default => model_class.model_name.human.pluralize.titleize %>
        </div>
      </div>
    </div>
    <div class="row">
      <% @products.each do |product| %>
          <a href=<%= product_path(product) %> style="text-decoration:none">
            <div class="product_item col-md-8 col-md-offset-2 centered">
              <%= product.name %>
            </div>
          </a>
      <% end %>
    </div>
    <div>
        <a href=<%= new_product_path %> style="text-decoration:none">
          <div class="new_product_button col-md-4 col-md-offset-4 centered">
          <%= t('.new', :default => t("helpers.links.new")) %>
          </div>
        </a>
    </div>
  </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>



