<div class="container">
  <div class="row">
    <div id="chart-container" style="display: inline-block"></div>
    <div class="legend-block">
      <% @main_chart_data.each do |current_status| %>
          <div class="status-box" style="background-color: <%= current_status[:color].downcase %>"></div>
          <span class="status-count"><%= current_status[:y] %></span>
          <span class="status-name"><%= current_status[:name] %></span>
          <span class="status-persent">(<%= current_status[:y]*100.0/@all_result_count %>%)</span>
          <br/>
      <% end %>
    </div>
  </div>
  <div class="row">
    <tbody>
    <% unless @plan.runs.empty? %>
        <table class="table table-hover">
          <tbody>
          <% @plan.runs.order(created_at: :desc).find_each do |run| %>
              <tr>
                <td>
                  <div class="block">
                    <a class="link plan-name-link" href=<%= run_result_sets_path(run) %>><%= run.name %></a>
                  </div>
                </td>
                <td>
                  <div id="status-bar-<%= run.id %>" style="min-width: 100px; max-width: 100px; height: 36px; margin: 0 auto"></div>
                  <script>
                    $(function () {
                      $("#status-bar-<%= run.id %>").highcharts({
                        navigation: {
                          buttonOptions: {
                            enabled: false
                          }
                        },
                        credits: {
                          enabled: false
                        },
                        tooltip: {
                          enabled: false
                        },
                        chart: {
                          height: 50,
                          width: 300,
                          type: 'bar',
                          backgroundColor: null
                        },
                        title: {
                          text: ''
                        },
                        subTitle: {
                          text: ''
                        },
                        xAxis: {

                          labels: {
                            enabled: false
                          }
                        },
                        yAxis: {
                          gridLineWidth: 0,
                          labels: {
                            enabled: false
                          },
                          title: {
                            text: ''
                          }
                        },
                        legend: {
                          enabled: false
                        },
                        series: <%= @status_data[run.id].to_json.html_safe %>,
                        plotOptions: {
                          series: {
                            stacking: 'normal',
                            animation: false,
                            dataLabels: {
                              enabled: true
                            }
                          }
                        }
                      });
                    });
                  </script>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
    </tbody>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#chart-container').highcharts({
      navigation: {
        buttonOptions: {
          enabled: false
        }
      },
      chart: {
        backgroundColor: 'rgba(225, 225, 225, 0)',
        type: 'pie',
      },
      title: {
        text: ''
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: false,
          cursor: 'pointer',
          depth: 35,
          animation: false,
          dataLabels: {
            enabled: false,
            format: '{point.name}'
          }
        }
      },
      series: [{
        type: 'pie',
        name: 'Value',
        data: <%= @main_chart_data.to_json.html_safe %>
      }]
    });
  });
</script>