<ol class="breadcrumb">
  <div class="name-block-nav" title= <%= @product.name %> ><li><a href="<%= product_path(@product) %>" class="plan-name-link link"> <%= @product.name %> </a></li></div>
</ol>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/plan_chart' %>
  </div>
  <div class="row runs-list">
  </div>
</div>
<script type="text/javascript">
  var runs = <%= @runs.html_safe %>;
  var main_data = <%=  @main_data.html_safe  %>;
  $(function () {
      if ($( ".line-block" ).length){return}
      CreateChart();
        Object.entries(main_data).forEach(function (item) {
            var id = item[0];
            var name =  runs[id];
            var status = item[1];
            addEmptyRunLineBlock(id, name);
            addRunNameBlock(name, id);
            addStatusesBlock(status, id);
        })
    });

  function addEmptyRunLineBlock(id) {
      $(".runs-list").append("<div class='line-block' data='" + id+ "'></div>");
  }

  function addRunNameBlock(name, id) {
      $("div[class=line-block][data*=" + id + "]").append("<div class='name-block'><a class='link plan-name-link' href='/runs/" + id + "/result_sets'>" + name + "</a></div>")
  }

  function addStatusesBlock(status, id) {
      var line_block = $("div[class=line-block][data*=" + id + "]");
      line_block.append("<div class='plan-block' data='" + id+ "'></div>");
      var clases = Object.keys(status).map(function(num) {
          return "status_" + num
      });
      line_block.addClass(clases.join(' '));
      Object.entries(status).forEach(function (item) {
          addStatusToRunBlock(id, item);
      })
  }

  function addStatusToRunBlock(id, status){
      $("div[class=plan-block][data*=" + id + "]").append("<div class='repository-lang-stats-numbers'><div class='status-attr' data='" + status[1]['id'] + "'><div class='status-box' style='background-color:" + status[1]['color'] + ";'></div><div class='status-name'>" + status[1]['name'] + "</div><div class='status-count'>" + status[1]['count'] + "</div></div></div>");
  }

  function filterRunList(obj, it) {
      if (obj.getAttribute("value") == 1) {
          console.log('1');
          $(".legend-data").attr('value', 0);
          $('#clearfix-selector').remove();
          ShowAll()
      } else {
          $('#clearfix-selector').remove();
          $(".legend-data").attr('value', 0);
          $(obj).attr('value', 1);
          $(obj).append("<span id ='clearfix-selector'>&#9668;</span>");
          HideAll();
          $("div").find(".status_" + it).show();
      }
    }
    function ShowElement(value){
        $("div[class=line-block][value*=" + value + "]").show();
    }
    function HideAll() {
        $("div").find(".line-block").hide();
    }
    function ShowAll() {
        $('#clearfix-selector').remove();
        $("div").find(".line-block").show()
    }
</script>