<ol class="breadcrumb">
  <li><a href="<%= product_path(@product) %>" class="plan-name-link link"> <%= @product.name %> </a></li>
</ol>
<div class="container">
  <div class="row">
    <div id="chart-container" style="display: inline-block"></div>
    <div class="legend-block">
      <% @main_chart_data.each do |current_status| %>
          <div class="status-box" style="background-color: <%= current_status[:color].downcase %>"></div>
          <span class="status-count"><%= current_status[:y] %></span>
          <span class="status-name"><%= current_status[:name] %></span>
          <span class="status-persent">(<%= (current_status[:y]*100.0/@all_result_count).round 1 %>%)</span>
          <br/>
      <% end %>
    </div>
  </div>
  <% @plan.runs.order(created_at: :desc).find_each do |run| %>
      <div class="line-block">
        <div class="block">
          <a class="link plan-name-link" href=<%= run_result_sets_path(run) %>><%= run.name %></a>
        </div>
          <% @status_data[run.id][:data].each do |data| %>
              <li class="repository-lang-stats-numbers">
                <div class="status-attr">
                  <span class="color-block" style="background-color:<%= data['color'] %>;"></span>
                  <span><%= data['name'] %></span>
                  <span><%= data['data'] %></span>
                </div>
                <div class="status-attr">
                  <span class="percent">(<%= (data['data'].to_f/@status_data[run.id][:all_data]*100).round(2) %>
                    %)</span>
                </div>
              </li>
          <% end %>
        <div class="repository-lang-stats-graph">
          <% @status_data[run.id][:data].each do |data| %>
              <span class="language-color" style="width:<%= data['data'].to_f/@status_data[run.id][:all_data]*100 %>%; background-color:<%= data['color'] %>;">status</span>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function () {
    $('#chart-container').highcharts({
      navigation: {
        buttonOptions: {
          enabled: false
        }
      },
      chart: {
        backgroundColor: 'rgba(225, 225, 225, 0)',
        type: 'pie',
      },
      title: {
        text: ''
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: false,
          cursor: 'pointer',
          depth: 35,
          animation: false,
          dataLabels: {
            enabled: false,
            format: '{point.name}'
          }
        }
      },
      series: [{
        type: 'pie',
        name: 'Value',
        data: <%= @main_chart_data.to_json.html_safe %>
      }]
    });
  });
</script>