<ol class="breadcrumb">
  <div class="name-block-nav" title= <%= @product.name %> ><li><a href="<%= product_path(@product) %>" class="plan-name-link link"> <%= @product.name %> </a></li></div>
</ol>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/plan_chart' %>
  </div>
  <div class="row runs-list">
  </div>
</div>
<script type="text/javascript">
  var runs = <%= @runs.html_safe %>;
  var main_data = <%=  @main_data.html_safe  %>;
  $(function () {
        if (!$( "#legend-element" ).length){CreateChart();}
        Object.entries(main_data).forEach(function (item) {
            $(".runs-list").append("<div class='line-block' value=" + item[0] + "><div class='block plan-name-block' title='" + runs[item[0]] +"'><a class='link plan-name-link' href='/runs/" + item[0] + "/result_sets'>" + runs[item[0]] + "</a></div>" +
                "<div class='block'>" + GenerateCurrentRunsStatus(item[1]) + "</div></div>")
        })
    });
    function GenerateCurrentRunsStatus(Status) {
        var result = '';
//        console.log(Status);
        Object.entries(Status).forEach(function (item) {
            result += "<li class='repository-lang-stats-numbers'><div class='status-attr'>";
            result += "<span class='status-color-small' style='background-color:" + item[1]['color'] + ";'></span>";
            result += "<span class='status-name-small'>" + item[1]['name'] + "</span>";
            result += "<span>" + item[1]['count'] + "</span>";
            result += "</div></li>";
        });
            return(result)
    }
    function Filterit(obj, it) {
        $('#clearfix-selector').remove();
        $(obj).append("<span id ='clearfix-selector'>&#9668;</span>");
        HideAll();
        Object.entries(main_data).forEach(function (item) {
            Object.keys(item[1]).forEach(function (sub_item) {
                if (it == sub_item){
                    ShowElement(item[0]);
                }
            })
        });
    }
    function ShowElement(value){
        $("div[class=line-block][value*=" + value + "]").show();
    }
    function HideAll() {
        $("div[class=line-block]").hide();
    }
    function ShowAll() {
        $('#clearfix-selector').remove();
        $("div[class=line-block]").show();
    }
</script>