<div class="result-data">
  <%= form_tag('/settings/custom_fields', method: :post, id: 'result-set-form') do %>
      <div class="block" style="display:inline-block"><%= text_field(:name, :text, :class => 'result-comment', placeholder: 'name') %></div>
      <div style="display:inline-block">
        <%= select(:data_type, :status_id, [['Text', 'text'], ['Link', 'link'], ['Image', 'image'], ['Username', 'username']], {}, {:class => 'form-control form-control-small form-select'}) %>
      </div>
      <div class="block">
        <span><%= check_box_tag 'size' %>Big data</span>
      </div>
      <%= hidden_field_tag(:result_set_list) %>
      <%= text_area(:description, :text, :class => 'result-comment', placeholder: 'Description') %>
      <%= text_area(:default, :text, :class => 'result-comment', placeholder: 'Default value') %>
  <% end %>
  <a class="btn btn-primary" onclick="$('#result-set-form').submit()">Add new result</a>
  <a class="btn btn-default manual-botton" data-dismiss="modal" aria-label="Close">Cancel</a>
</div>

