<!DOCTYPE html>
<html>
<head>
  <title>Palladium</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar-app">
  <div class="palladium-name-block">
      <a class="link palladium-link" href=<%= root_path %>>
        <%= image_tag("logo.png", :alt => "rss feed", class: 'palladium-logo') %>
        Palladium</a>
    </div>
  <% if user_signed_in? %>
      <div class="profile-box">
        <div class="dropdown">
          <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <div class="user-name"><%= current_user.email %></div><span class="caret"></span>
          </div>
          <ul class="dropdown-menu pull-right dropdown-menu-custom">
            <li class="logout-link"><a href="/users/sign_out" rel="nofollow" data-method="delete">Sign Out</a></li>
          </ul>
        </div>
      </div>
      <div class="palladium-settings">
        <a class="fa fa-fw fa-gear link setting-link" href="/settings/admin"></a>
      </div>
      </div>
<% end %>
  <div class="mainpage">
    <%= yield %>
  </div>
</body>
</html>